body {
  background-color: #101010; 
}

h1 {
  font-family: ubuntu;
  font-size: 50px;
  text-align: center;
  color: #dfdfdf;

}

h3 {
  font-family: ubuntu;
  font-size: 30px;
  text-align: left;
  color: #dfdfdf;

}

h4 {
  font-family: ubuntu;
  font-size: 24px;
  text-align: left;
  color: #dfdfdf;

}

p {
  font-family: ubuntu;
  font-size: 20px;
  text-align: left;
  color: #dfdfdf;

}

ol {
  font-family: ubuntu;
  font-size: 20px;
  text-align: left;
  color: #dfdfdf;

}

ul {
  font-family: ubuntu;
  font-size: 20px;
  text-align: left;
  color: #dfdfdf;

}
